.bloc-container {
  display: grid;
  text-align: center;
  height: 400px;
  border: 1px solid black;
  grid-gap: 10px;
}

.bloc {
  padding: 0.5em;
  background-color: peru;
  border: 2px solid red;
}

.element-1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.element-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}